<h2>オーダー一覧</h2>

<table class="table">
<tr>
  <th>購入日</th>
  <th>購入商品</th>
  <th>商品単価</th>
  <th>購入個数</th>
  <th>購入金額</th>
  <th>支払い方法</th>
</tr>

<% @orders.each do |order| %>
  <tr>
    <td style="vertical-align: middle;"><%= order.created_at.strftime("%Y/%m/%d") %></td>
    <td style="vertical-align: middle;">
            <%= order.name %><br>
            <%= order.price %><br>
            <%= order.amount %>
          </td>
  </tr>
<% end %>
</table>